*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.formulario{
    text-align: center;
}
.subtitulo2, .email, .credencial, .credencial2{
    
    margin-bottom: 5px;
}
.email>.correo, .credencial>.credencial_1, .credencial2>.credencial2_1{
    width: 250px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.enviar{
    background-color:#009432;
    color: white;
    width: 100px;
    padding: 10px;
    border: 0;
}